body, p { 
  padding: 0; 
  margin: 0; 
  font-family : 'PT Sans'; 
  font-weight : 300;
  font-size: 18px;
  line-height: 28px;
}

h1 { 
  font-size: 36px; 
  line-height: 42px; 
  font-family : 'Oswald'; 
  font-weight : 400; 
}

h2 { 
  font-size: 30px;
  line-height: 36px; 
  font-family : 'PT Sans Narrow';
  font-weight : 300;
}

#header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #fff;
  border-bottom:1px solid #ccc;
}

#logo { 
  float: left; 
  width: 130px; 
}

.logo {
  font-size: 36px;
  line-height: 100px;
  padding:0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

#navigation { 
  display: block; 
  margin-left: 130px; 
  text-align: right;
  margin-top: 20px;
}

#mainnav { font-size: 0px; }

#mainnav li { 
  display: inline-block;
  font-size: 22px;
  margin: 15px;
}

#mainnav li:last-child { margin-right: 0px; }

#mainnav li a {
  text-decoration: none;
  color: #333;
}

#mainnav li a:hover {
  color: #999;
}

.double-space { height: 150px; }

.section { 
  min-height: 700px;
  overflow: hidden;
}

.darker { background-color : #333; }
.lighter { background-color : #fff; }

img {
  width: 100%;
  height: auto;
}

.centered-wrapper { margin: 0 auto; text-align: center; max-width: 1250px; overflow: hidden; }

.section.darker h1 { color: #fff; }
.section.darker h2 { color: #ccc; } 
.section.darker p  { color: #fff; }

.section.lighter h1 { color: #333; }
.section.lighter h2 { color: #555; }
.section.lighter p  { color: #333; }

.section p.box { text-align: center;}

.section .box { 
  background-color: rgba(0,0,0,0.2); 
  border: 1px solid rgba(0,0,0,0.2); 
}
.searchBar{
  background-color: black;
}
.box { 
  padding: 25px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}


input.example {
  border: none;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.content{
  text-align: center;
}

* {
  box-sizing: border-box;
}

.column{
  padding-left: 50px;
  float:left;
  width: 50%;
}

.row:after{
  content:"";
  display: table;
  clear: both;
}
.menu-icon { 
  display:none;  
  position: absolute;
  width: 24px;
  height: 24px;
  background:url("menu.png") left top no-repeat;
  -webkit-background-size:100%;
  -moz-background-size:100%;
  -ms-background-size:100%;
  -o-background-size:100%;
  background-size:100%;
  right: 0px;
  top:40px;
  cursor:pointer;
}

.model-content{
  background-color: grey;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%
}
.container{
  padding: 5px;
}
div.a {
  position: relative;
  width: 400px;
  height: 200px;

}

div.b {
  position: absolute;
  left: auto;
  width: 550px;
  height: 120px;
  padding: 20px 50px;

} 

div.c {
  position: relative;
  left: 150px;
  width: 100px;
  height: 120px;
  padding: 20px 250px;

} 



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #858282;
  padding: 20px;
}

@media only screen and (max-width:319px) {
  .centered-wrapper { width: 94% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -3%;
    text-align: left;
  }
  
  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px;  }
}

@media only screen and (min-width:320px) and (max-width:479px) { 
  .centered-wrapper { width: 94% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -3%;
    text-align: left;
  }
  


  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px; }
}



@media only screen and (min-width:768px) and (max-width:1023px) { 
  .centered-wrapper { width: 96% !important; }
}

@media only screen and (min-width:1024px) and (max-width:1279px) { 
  .centered-wrapper { width: 96% !important; }
}

@media only screen and (min-width:1280px) { 
  .centered-wrapper { width: 1250px !important; }
}


@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}